<div class="nav-item dropdown">
  <a class="nav-link dropdown-toggle _locale_dropdown__toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
    <%= locale() %>
  </a>
  <div class="dropdown-menu">
    <%=  for l <- other_locales() do %>
      <a class="dropdown-item _locale_dropdown__link" href="<%= with_new_locale(@conn, l) %>"><%= l %></a>
    <% end %>
  </div>
</div>