<div class="main__container">
  <h2>Books</h2>

  <table class="pure-table">
    <thead>
      <tr>
        <th>Title</th>
      </tr>
    </thead>
    <tbody>
  <%= for book <- @books do %>
      <tr>
        <td><%= link book.title, to: book_path(@conn, :show, book) %></td>
      </tr>
  <% end %>
    </tbody>
  </table>
</div>