/* This file is for your main application css. */


.nav {
  display: flex;
  justify-content: flex-end;
}

.nav__entry {
  box-sizing: border-box;
  width: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav__site_name {
  padding-left: 20px;
  margin-right: auto;
  box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 10px;
}

.main__container {
  padding: 30px;
}

.clearfix {
  clear: both;
}

.current_page {
  color: red;
}