/* This file is for your main application css. */


.nav {
  display: flex;
  justify-content: flex-end;
  background-color: #00477b;
}

.nav__search {
  margin-top: 5px;
  margin-right: 5px;
}

.nav__search_submit {
  padding-top: 2px;
}

.nav__site_name {
  padding-left: 20px;
  margin-right: auto;
  box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  text-decoration: none;
}

.main__container {
  padding: 30px;
}

.clearfix {
  clear: both;
}

.current_page {
  color: red;
}

.front__banner {
  margin-left: auto;
  text-align: center;
  font-size: 50px;
  margin-bottom: 20px;
  margin-top: 0px;
}

.front__search_term {
  margin-bottom: 20px;
  width: 500px;
}

.front__search_form {
  text-align: center;
}
