<h2>Listing Languages</h2>

<table class="table">
  <thead>
    <tr>
      <th>Code</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for language <- @languages do %>
    <tr>
      <td><%= language.code %></td>
    </tr>
<% end %>
  </tbody>
</table>
