<h2>Listing Subjects</h2>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= for subject <- @subjects do %>
      <tr>
        <td><%= subject.name %></td>

        <td class="text-right">
          <span><%= link "Show", to: subject_path(@conn, :show, locale(), subject), class: "btn btn-default btn-xs" %></span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>