<div class="main__container">
  <h2><%= "Books related to \'#{@subject.name}\'" %></h2>

  <%= for book <- @subject.books do %>
    <div class="card" style="margin-bottom: 10px">
      <div class="card-body">
        <span class="card-title">
          <%= link(book.title, to: book_path(@conn, :show, locale(), book)) %>
        </span>
        <h6 class="card-subtitle">
          <%= Gutenberg.Books.Book.author_name(book) %>
        </h6>
      </div>
    </div>
  <% end %>
</div>