<h2>Listing Formats</h2>

<table class="table">
  <thead>
    <tr>
      <th>Mime type</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
  <%= for format <- @formats do %>
    <tr>
      <td><%= format.mime_type %></td>
    </tr>
  <% end %>
  </tbody>
</table>