<h2>Show Format</h2>

<ul>

  <li>
    <strong>Mime type:</strong>
    <%= @format.mime_type %>
  </li>

</ul>

<span><%= link "Edit", to: format_path(@conn, :edit, @format) %></span>
<span><%= link "Back", to: format_path(@conn, :index) %></span>
